{
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft": "Warning",
      "Microsoft.Hosting.Lifetime": "Information"
    }
  },
  "Database": {
    "Hostname": "localhost",
    "Schema": "gunpla_online_shop",
    "Username": "",
    "Password": "",
    "Port": ""
  },
  "AdminAccount": {
    "Email": "",
    //PasswordTooShort;
    //PasswordRequiresNonAlphanumeric;
    //PasswordRequiresDigit;
    //PasswordRequiresLower;
    //PasswordRequiresUpper;
    //PasswordRequiresUniqueChars.
    "Password": ""
  },
  "SMTPConfig": {
    "Host": "smtp.gmail.com",
    "Port": "465",
    "Username": "",
    "Password": ""
  }
}
