@inject Microsoft.AspNetCore.Identity.SignInManager<ApplicationUser> signInManager
<style>
    .navbar-custom {
        background-color: #282828;
        font-family: 'Krona One', sans-serif;
        font-size: 7pt;
    }

    a.navbar-brand {
        white-space: normal;
        text-align: center;
        word-break: break-all;
    }

    /* Provide sufficient contrast against white background */
    a {
      color: #0366d6;
    }

    .btn-primary {
      color: #fff;
      background-color: #1b6ec2;
      border-color: #1861ac;
    }

    .nav-pills .nav-link.active, .nav-pills .show > .nav-link {
      color: #fff;
      background-color: #1b6ec2;
      border-color: #1861ac;
    }

    
</style>

<nav class="navbar navbar-static-top navbar-expand-xl navbar-dark navbar-custom">
    <div class="container-fluid" style="width:80%">
        <a class="navbar-brand" asp-action="Index" asp-controller="Home">WHITE BASE</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse " id="navbarResponsive">
            <ul class="navbar-nav ml-auto text-center">
                @Html.Raw(ViewBag.NavigationLinksHtml)
            </ul>
            <ul class="navbar-nav ml-auto">
                <form class="form-inline mr-4" asp-controller="Collection" asp-action="Search" method="post">
                    <input class="form-control mr-sm-2" id="key" name="keyword" type="search" placeholder="Search" aria-label="Search" />
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form>
                @if (signInManager.IsSignedIn(User))
                {
                    <li class="nav-item ml-auto">
                        <form method="post" asp-controller="Account" asp-action="Logout">
                            <button type="submit" class="nav-link btn btn-link">
                                Logout
                            </button>
                        </form>
                    </li>
                    <li class="nav-item">
                        <a class="nav-item" asp-controller="Account" asp-action="Profile">
                            @User.Identity.Name
                        </a>
                    </li>
                }
                else
                {
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Account" asp-action="Register">SignUp</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Account" asp-action="Login">SignIn</a>
                    </li>
                }
            </ul>
        </div>
    </div>
</nav>
