<style>
    @@media (min-width: 576px) {
        .slideshowwidth {
            width: 100%;
        }
    }

    @@media (min-width: 768px) {
        .slideshowwidth {
            width: 90%;
        }
    }

    @@media (min-width: 992px) {
        .slideshowwidth {
            width: 90%;
        }
    }

    @@media (min-width: 1500px) {
        .slideshowwidth {
            width: 75%;
        }
    }
</style>
<header class="my-2 slideshowwidth mx-auto">
    <div id="carouselGundamAds" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselGundamAds" data-slide-to="0" class="active"></li>
            <li data-target="#carouselGundamAds" data-slide-to="1"></li>
            <li data-target="#carouselGundamAds" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <a href="https://nextphase.bandai-hobby.net/"> <img class="d-block w-100 img-responsive" src="~/images/carouselslides/banner1.jpg" alt="First slide"> </a>
            </div>
            <div class="carousel-item">
                <a href="https://gunpla40th.bandai-hobby.net/creators/enquete.php"> <img class="d-block w-100 img-responsive" src="~/images/carouselslides/banner2.jpg" alt="Second slide"> </a>
            </div>
            <div class="carousel-item">
                <a href="https://bandai-hobby.net/item/3736/?_ga=2.149861622.17729354.1590082251-748208676.1585247872"> <img class="d-block w-100 img-responsive" src="~/images/carouselslides/banner3.jpg" alt="Third slide"> </a>
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselGundamAds" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselGundamAds" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</header>