
@{
    ViewData["Title"] = "ResetPasswordConfirmation";
}

<h1>Your password is reset. Please click <a asp-action="Login">Here</a> to login.</h1>
<a asp-controller="Home" asp-action="Index">Back to Home</a>


