@{
    ViewData["Title"] = "WhiteBase Gunpla Shop";
}

<style>
    a {
        color: inherit;
        text-decoration: none;
    }
    hr {
        margin-top: 2rem;
        margin-bottom: 2rem;
        border: 0;
        border-top: 1px solid rgba(0, 0, 0, 0.1);
    }
    
    .card-deck {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
        grid-gap: .5rem;
    }

</style>

<partial name="SliderShowPartial" />

<div class="container">

    <hr class="featurette-divider">

    <div class="row d-flex justify-content-between">
        <div class="col-sm col-lg">
            <h3 class="text-left"> HIGH GRADE</h3>
        </div>
        <div class="col-sm col-lg text-right">
            <a class="text-primary" asp-controller="home" asp-action="index"> <u>For more high grade kits</u></a>
        </div>
    </div>
    <div class="card-deck">
        <div class="card mb-1 border-0">
            <a asp-controller="" asp-action="">
                <img src="~/images/HGGTO RX-78-02 Gundam.jpg" class="card-img-top" asp-append-version="true" />
            </a>
            <a asp-controller="" asp-action="">
                <div class="card-body">
                    <h4 class="card-title stretched-link">hg rx-78-2-orgin</h4>
                    <p class="card-text">$32</p>
                </div>
            </a>
        </div>
        <div class="card mb-1 border-0">
            <a asp-controller="" asp-action="">
                <img src="~/images/HGGTO RX-78-02 Gundam.jpg" class="card-img-top" asp-append-version="true" />
            </a>
            <a asp-controller="" asp-action="">
                <div class="card-body">
                    <h4 class="card-title stretched-link">hg rx-78-2-orgin</h4>
                    <p class="card-text">$32</p>
                </div>
            </a>
        </div>
        <div class="card mb-1 border-0">
            <a asp-controller="" asp-action="">
                <img src="~/images/HGGTO RX-78-02 Gundam.jpg" class="card-img-top" asp-append-version="true" />
            </a>
            <a asp-controller="" asp-action="">
                <div class="card-body">
                    <h4 class="card-title stretched-link">hg rx-78-2-orgin</h4>
                    <p class="card-text">$32</p>
                </div>
            </a>
        </div>
        <div class="card mb-1 border-0">
            <a asp-controller="" asp-action="">
                <img src="~/images/HGGTO RX-78-02 Gundam.jpg" class="card-img-top" asp-append-version="true" />
            </a>
            <a asp-controller="" asp-action="">
                <div class="card-body">
                    <h4 class="card-title stretched-link">hg rx-78-2-orgin</h4>
                    <p class="card-text">$32</p>
                </div>
            </a>
        </div>
    </div>
</div>
<div class="container">
    <hr class="featurette-divider">

    <div class="row d-flex justify-content-between">
        <div class="col-sm col-lg">
            <h3 class="text-left"> MASTER GRADE</h3>
        </div>
        <div class="col-sm col-lg text-right">
            <a class="text-primary" asp-controller="home" asp-action="index"> <u>For more master grade kits</u></a>
        </div>
    </div>
    <div class="card-deck">
        <div class="card mb-1 border-0">
            <a asp-controller="" asp-action="">
                <img src="~/images/MG-RX-78-2-Gundam-Ver.3.0.jpg" class="card-img-top" asp-append-version="true" />
            </a>
            <a asp-controller="" asp-action="">
                <div class="card-body">
                    <h4 class="card-title stretched-link">mg rx-78-2 gundam ver 3.0</h4>
                    <p class="card-text">$65</p>
                </div>
            </a>
        </div>
        <div class="card mb-1 border-0">
            <a asp-controller="" asp-action="">
                <img src="~/images/MG-RX-78-2-Gundam-Ver.3.0.jpg" class="card-img-top" asp-append-version="true" />
            </a>
            <a asp-controller="" asp-action="">
                <div class="card-body">
                    <h4 class="card-title stretched-link">mg rx-78-2 gundam ver 3.0</h4>
                    <p class="card-text">$65</p>
                </div>
            </a>
        </div>
        <div class="card mb-1 border-0">
            <a asp-controller="" asp-action="">
                <img src="~/images/MG-RX-78-2-Gundam-Ver.3.0.jpg" class="card-img-top" asp-append-version="true" />
            </a>
            <a asp-controller="" asp-action="">
                <div class="card-body">
                    <h4 class="card-title stretched-link">mg rx-78-2 gundam ver 3.0</h4>
                    <p class="card-text">$65</p>
                </div>
            </a>
        </div>
        <div class="card mb-1 border-0">
            <a asp-controller="" asp-action="">
                <img src="~/images/MG-RX-78-2-Gundam-Ver.3.0.jpg" class="card-img-top" asp-append-version="true" />
            </a>
            <a asp-controller="" asp-action="">
                <div class="card-body">
                    <h4 class="card-title stretched-link">mg rx-78-2 gundam ver 3.0</h4>
                    <p class="card-text">$65</p>
                </div>
            </a>
        </div>
    </div>
</div>
<div class="container">
    <hr class="featurette-divider">
    <div class="row d-flex justify-content-between">
        <div class="col-sm col-lg">
            <h3 class="text-left"> PERFECT GRADE </h3>
        </div>
        <div class="col-sm col-lg text-right">
            <a class="text-primary" asp-controller="home" asp-action="index"> <u>For more perfect grade kits</u></a>
        </div>
    </div>
    <div class="card-deck">
        <div class="card mb-1 border-0">
            <a asp-controller="" asp-action="">
                <img src="~/images/PG-RX-78-2-packaging.jpg" class="card-img-top" asp-append-version="true" />
            </a>
            <a asp-controller="" asp-action="">
                <div class="card-body">
                    <h4 class="card-title stretched-link">pg rx-78-2 gundam</h4>
                    <p class="card-text">$140</p>
                </div>
            </a>
        </div>
        <div class="card mb-1 border-0">
            <a asp-controller="" asp-action="">
                <img src="~/images/PG-RX-78-2-packaging.jpg" class="card-img-top" asp-append-version="true" />
            </a>
            <a asp-controller="" asp-action="">
                <div class="card-body">
                    <h4 class="card-title stretched-link">pg rx-78-2 gundam</h4>
                    <p class="card-text">$140</p>
                </div>
            </a>
        </div>
        <div class="card mb-1 border-0">
            <a asp-controller="" asp-action="">
                <img src="~/images/PG-RX-78-2-packaging.jpg" class="card-img-top" asp-append-version="true" />
            </a>
            <a asp-controller="" asp-action="">
                <div class="card-body">
                    <h4 class="card-title stretched-link">pg rx-78-2 gundam</h4>
                    <p class="card-text">$140</p>
                </div>
            </a>
        </div>
        <div class="card mb-1 border-0">
            <a asp-controller="" asp-action="">
                <img src="~/images/PG-RX-78-2-packaging.jpg" class="card-img-top" asp-append-version="true" />
            </a>
            <a asp-controller="" asp-action="">
                <div class="card-body">
                    <h4 class="card-title stretched-link">pg rx-78-2 gundam</h4>
                    <p class="card-text">$140</p>
                </div>
            </a>
        </div>
    </div>
</div>