@model Item

@{
    ViewData["title"] = Model.Name + " - WhiteBase Gunpla Shop";
}

<h1>@Model.Name</h1>

@if (Model.Qantity > 0)
{
    <form asp-controller="ShoppingCart" asp-action="AddItemToShoppingCart">
        <input hidden id="ItemId" name="ItemId" value="@Model.Id" />
        <input id="Quantity" name="Quantity" type="number" min="1" max="@Model.Qantity" value="1" class="form-control" />
        <button id="addToShoppingCart" type="submit" class="btn btn-outline-primary">ADD TO CART</button>
    </form>
}
else
{
    <button class="btn btn-outline-secondary">SOLD OUT</button>
}
